<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ser1</servlet-name>
        <servlet-class>Ser1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAccount</servlet-name>
        <servlet-class>NewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zip</servlet-name>
        <servlet-class>zip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>Form</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ser1</servlet-name>
        <url-pattern>/Ser1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAccount</servlet-name>
        <url-pattern>/NewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zip</servlet-name>
        <url-pattern>/zip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/Form</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
